:root {
  --primary-color: #29D9A7;
  --secondary-color: #73fff1;
  --accent-color: #C42FED;
}

* {
  box-sizing: border-box;
}

body {
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  background-color: #241148;
  background-image: url("./assets/img/spacebackground.gif");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  margin: 0;
  overflow: hidden;
}

canvas {
  /*position: absolute; */ /*to cover the background image*/
  top: 0px;
  left: 0px;
  opacity: 0.9;
}

.stats {
  background-color: rgba(255, 255, 255, 0.3);
  color: white;
  font-size: 20px;
  text-align: center;
  font-weight: bold;
  position: absolute;
  top: 0px;
  min-width: 100px;
  z-index: 10;
}

.stats-left {
  left: 0px;
  padding: 20px 15px;
  border-bottom-right-radius: 15px;
}

.stats-right {
  right: 0;
  border-bottom-left-radius: 15px;
  padding: 5px;
}

.stats .button {
  padding: 5px;
  margin: 5px;
}



.rules {
  font-size: 13px;
  margin: 10px auto 20px;
  width: 95%;
  max-width: 600px;
  text-align: center;
  line-height: 1.5;
}



.text {
  font-size: 32px;
  margin-bottom: 20px;
  text-align: center;
  line-height: 1.5;
}

.left {
  text-align: left;
}

.right {
  text-align: right;
}

.title {
  text-align: center;
}

.overlay {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.3);
  color: white;
}

.overlay--dark {
  background-color: rgba(0, 0, 0, 0.7);
}

.overlay-claim {
  animation: fade-out 0.3s ease-in-out 3s forwards;
}

.overlay-content {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  animation: pop-up 0.5s ease-in-out forwards;
}

.font--small {
  font-size: 14px;
}

.font--big {
  font-size: 18px;
}

.button {
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  font-size: 16px;
  background-color: var(--primary-color);
  width: 170px;
  text-align: center;
  color: black;
  margin: 10px;
  text-transform: uppercase;
  text-decoration: none;
  border: none;
  height: 65px;
  border-radius: 12px;
  cursor: pointer;
  font-weight: bold;
  transition: background-color 0.2s;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.button-full {
  width: 100%;
}

.button--wide {
  width: 200px;
}

.button--small {
  height: 40px;
}

.button:hover, .button:active {
  background-color: var(--secondary-color);
}

.mute {
  position: absolute;
  right: 15px;
  bottom: 15px;
  z-index: 10;
  background-color: var(--primary-color);
  width: 45px;
  height: 45px;
  padding: 10px;
  border-radius: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.mute > svg {
  cursor: pointer;
  color: black;
  width: 100%;
  height: 100%;
}

.percent {
  height: 100%;
  width: 100%;
}

.percent-container {
  --agree: 50%;
  --disagree: calc(100% - var(--agree));
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: var(--agree) var(--disagree);
      grid-template-columns: var(--agree) var(--disagree);
  height: 40px;
  width: 95%;
  max-width: 500px;
  border-radius: 20px;
  overflow: hidden;
  margin-bottom: 20px;
  position: relative;
}

.percent-text {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  color: white;
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-weight: bold;
  padding: 0 15px;
  text-shadow: -1px -1px 0 #000,   1px -1px 0 #000, -1px 1px 0 #000, 1px 1px 0 #000;
}

.slider {
  background: var(--primary-color);
  background: linear-gradient(270deg, var(--accent-color) 0%, var(--primary-color) 100%);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#c42fed",endColorstr="#29d9a7",GradientType=1);
  -webkit-appearance: none;
  width: 100%;
  height: 15px;
  outline: none;
  border: 2px solid var(--secondary-color);
  border-radius: 8px;
  position: relative;
  --rotation: 0deg;
}

.slider-container {
  margin-top: 30px;
  width: 95%;
  max-width: 500px;
}

.slider::-webkit-slider-thumb {
  background: var(--primary-color);
  background: linear-gradient(270deg, var(--accent-color) 0%, var(--primary-color) 100%);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#c42fed",endColorstr="#29d9a7",GradientType=1);
  -webkit-appearance: none;
  appearance: none;
  width: 40px;
  height: 40px;
  border-radius: 100%;
  cursor: pointer;
  border: 2px solid var(--secondary-color);
  transform: rotate(var(--rotation));
}

.slider::-moz-range-thumb {
  background: var(--primary-color);
  background: linear-gradient(270deg, var(--accent-color) 0%, var(--primary-color) 100%);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#c42fed",endColorstr="#29d9a7",GradientType=1);
  width: 40px;
  height: 40px;
  border-radius: 100%;
  cursor: pointer;
  border: 2px solid var(--secondary-color);
  animation: rotate-it 0.5s ease-in-out infinite;
}

.slider-text-container {
  text-align: center;
  color: white;
  font-size: 14px;
  text-transform: uppercase;
  margin-bottom: 25px;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (1fr)[2];
      grid-template-columns: repeat(2, 1fr);
}

.zapcount {
  color: white;
  position: absolute;
  top: 10px;
  left: 0;
  right: 0;
  text-align: center;
  z-index: 12;
  font-size: 20px;
}

.previous-container {
  position: relative;
}

.previous-toggle {
  margin-top: 10px;
  background-color: var(--primary-color);
  color: black;
  padding: 5px 10px;
  border: none;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
  cursor: pointer;
}

.previous-list {
  list-style: none;
  padding: 0;
  text-align: center;
  margin-top: 0;
  position: absolute;
  top: 100%;
  left: 0;
  right: 0;
}

.previous-list > li {
  background-color: rgba(0, 0, 0, 0.5);
  padding: 10px;
  margin: 3px 0;
  border: 1px solid transparent;
  opacity: 0;
  animation: fade-up 0.3s forwards;
}

.previous-list > li.agree {
  border-color: var(--secondary-color);
  color: var(--secondary-color);
}

.previous-list > li.disagree {
  border-color: var(--accent-color);
  color: var(--accent-color);
}

.previous-list > li:nth-child(1n) {
  animation-delay: 0.25s;
}

.previous-list > li:nth-child(2n) {
  animation-delay: 0.5s;
}

.previous-list > li:nth-child(3n) {
  animation-delay: 0.75s;
}

.form {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  background-color: white;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.7);
  border-radius: 20px;
  padding: 10px 20px;
  color: black;
}

.form-title {
  font-size: 22px;
  margin: 10px 0 15px;
  text-transform: uppercase;
}

.form .name-input {
  background-color: white;
  padding: 15px 20px;
  text-align: center;
  font-size: 20px;
}

.exchange {
  background-color: #f8f2f2;
  margin: 7px 0;
  padding: 5px 10px 10px;
  border-radius: 12px;
}

.exchange-label {
  font-size: 12px;
  color: #29D9A7;
  font-weight: bold;
}

.exchange-amount {
  background-color: transparent;
  border: none;
  color: #14644d;
  font-weight: bold;
  width: 180px;
  max-width: 230px;
  font-size: 20px;
  outline: none;
  margin-top: 5px;
}

.exchange-select {
  background-color: transparent;
  border: none;
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
}

@keyframes fade-out {
  from {
    opacity: 1;
  }
  to {
    opacity: 0;
  }
}

@keyframes pop-up {
  from {
    transform: scale(0);
  }
  to {
    transform: scale(1);
  }
}

@keyframes fade-up {
  from {
    opacity: 0;
    transform: translateY(-70px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}

.bg-secondary {
  background-color: var(--secondary-color);
}

.bg-accent {
  background-color: var(--accent-color);
}

.flex-center {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.hidden {
  display: none;
}
/*# sourceMappingURL=style.css.map */